<div class="container-fluid d-flex justify-content-center">
    <div class="card w-75 mb-3">
        <div class="card-body">
            <div class="row">
                <div class="col-9">
                    <h5 class="card-title">{{ course.title }}</h5>
                    <p class="card-text">{{ course.description }}</p>
                </div>
                <div class="col">
                    <p class="card-text">
                        <strong>Authors:</strong> {{ course.authors }}
                    </p>
                    <p class="card-text">
                        <strong>Duration:</strong> {{ course.duration | date:'HH:MM'}} hours
                    </p>
                    <p class="card-text">
                        <strong>Created:</strong> {{ course.creationDate | date:'M/d/yyyy'}}
                    </p>
                    <ng-content></ng-content>
                </div>
            </div>
        </div>
    </div>
</div>