<app-header></app-header>
<form [formGroup]="courseForm" #formDir="ngForm">
    <div>
        <div>
            <label>Title</label>
            <div class="wrapper-hor">
                <input type="text" id="title" class="form-control" formControlName="title">
                <button type="submit" class="btn btn-primary">Create course</button>
            </div>
            <div *ngIf="title.invalid && (title.dirty || title.touched)" class="alert">
                <div *ngIf="title.errors?.['required']">
                    Title is required.
                </div>
            </div>
        </div>
        <label>Description</label>
        <input type="text" id="description" class="form-control" formControlName="description">
        <div *ngIf="description.invalid && (description.dirty || description.touched)" class="alert">
            <div *ngIf="description.errors?.['required']">
                Description is required.
            </div>
        </div>
    </div>
    <div class="wrapper-hor">
        <div>
            <div>
                <h4>Add authors</h4>
                <label>Author name</label>
                <input type="text" id="author" class="form-control" formControlName="newAuthor">
                <div *ngIf="newAuthor.invalid && (newAuthor.dirty || newAuthor.touched)" class="alert">
                    <div *ngIf="newAuthor.errors?.['pattern']">
                        New author should contain only latin letters and numbers.
                    </div>
                </div>
                <button (click)="addToList()">Create author</button>
            </div>
            <div>
                <h4>Duration</h4>
                <label>Duration</label>
                <input type="text" id="duration" class="form-control" formControlName="duration">
                <div *ngIf="duration.invalid && (duration.dirty || duration.touched)" class="alert">
                    <div *ngIf="duration.errors?.['required']">
                        Duration is required.
                    </div>
                    <div *ngIf="duration.errors?.['min']">
                        Duration should be not less than 0;
                    </div>
                </div>
                <label>Duration: 000000</label>
            </div>
        </div>
        <div>
            <h4>Authors list</h4>
            <tr *ngFor="let author of authors">
                <td>{{author}}</td>
                <button (click)="removeAuthorFromList(author)">Delete author</button>
            </tr>
        </div>
    </div>
</form>